.about-container {
  margin-left: 478.75px;
  width: 100%;
  height: 100vh;

  &__banner-image {
    width: 100%;
    height: 40vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  }

  &__main-content {
    width: 100%;
    height: 60vh;
    margin-top: 4rem;

    display: flex;
    align-items: center;
  }

  &__headshot-image {
    height: 100%;
    min-height: 500px;
    width: 40%;

    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -180px;
    image-rendering: pixelated;
  
  }

  &__header {
    margin-top: 4rem;
    width: 100%;
    font-size: 18px;
    font-weight: 600;

    display: grid;
    grid-template-columns: 100px [s] 1fr [e] 100px;

    .line {
      text-align: center;
      padding-bottom: 1rem;
      grid-column: s/e;
      border-bottom: 1px solid $lightGrey;
    }
  }

  &__content {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(60% - 60px);
    text-align: center;
    font-size: 18px;
    color: $darkBlack;
    font-weight: 600;
  }
}

.dark-about-container {
  background-color: $lightBlack;

  &__header {
    // color: $lightGrey;
    color: $darkOrange;
  }

  &__main-content {
    background-color: $lightBlack;
  }

  &__content {
    color: $lightGrey;
    // color: $darkOrange;
    background-color: $lightBlack;
  }
}