.create-project {

  &__container {
    margin-left: 478.75px;
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__input {
    padding-bottom: 2rem;

    input {
      font-size: 25px;
      width: 25em;
      border: 1px solid transparent;
      border-bottom: 1px solid #CCCCCC;
      color: black;
      background-color: #fff;

      &::placeholder {
        color: black;
      }

      &:focus {
        outline: none;
      }
    }

    select {
      font-size: 20px;
    }
  }
}

.progress {
  progress {
    width: 25em;
  }
}