.create-project {

  &__container {
    margin-left: 478.75px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__input {
    padding-bottom: 2rem;

    input {
      font-size: 25px;
      width: 25em;
      border: 1px solid transparent;
      border-bottom: 1px solid $lightGrey;
      color: $darkBlack;
      background-color: $white;

      &::placeholder {
        color: $darkBlack;
      }

      &:focus {
        outline: none;
      }
    }

    select {
      font-size: 20px;
    }
  }
}

.progress {
  progress {
    width: 25em;
  }
}

.dark-create-project__container {
  background-color: $lightBlack;

  input {
    color: $lightGrey;
    background-color: $lightBlack;

    &::placeholder {
      color: $lightGrey;
    }
  }

  button {
    background-color: $lightGrey;
  }
}