.feedback-container {
  margin-left: 478.75px;
  width: 100%;
  height: 100vh;

  &__banner-image {
    width: 100%;
    height: 40vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  }

  &__header {
    margin-top: 4rem;
    width: 100%;
    font-size: 18px;
    font-weight: 600;

    display: grid;
    grid-template-columns: 100px [s] 1fr [e] 100px;

    .line {
      text-align: center;
      padding-bottom: 1rem;
      grid-column: s/e;
      border-bottom: 1px solid $lightGrey;
    }
  }

  form {
    margin-top: 4rem;
    width: 100%;
    height: 40vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  input {
    font-size: 25px;
    width: 25em;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-bottom: 1px solid $lightGrey;
    color: $darkBlack;
    background-color: $white;

    &::placeholder {
      color: $darkBlack;
    }

    &:focus {
      outline: none;
    }
  }
  
  &__inputs {
    width: 25em !important;
  }

  button {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: $darkBlack;
    font-weight: 600;
    transition: 0.3s ease;

    &:focus {
      outline: none;
      transform: scale(0.95);
    }
  }

  &__submitted {
    margin-top: 2rem;
    width: 100%;
    height: 37.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}

.dark-feedback-container {
  background-color: $lightBlack;

  &__header {
    color: $lightGrey;
  }

  input {
    background-color: $lightBlack;
    
    &::placeholder {
      color: $lightGrey;
    }
  }

  button {
    background-color: $lightGrey;
  }

  form {
    background-color: $lightBlack;
  }
}