.homepage {
  margin-left: 478.75px;
  width: 100%;

  .shader {
    background: linear-gradient(to bottom, rgba(0,0,0,0.77) 0%, rgba(0,0,0,0) 72%, rgba(0,0,0,0) 100%);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  }

  &__image {
    height: 80vh;
    width: 100%;

    .image {
      width: 100%;
      height: calc(var(--vh, .75vh) * 100);
      
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      resize: both;
      image-rendering: pixelated;
      
      .homepage__text {
        position: relative;
        top: 50%;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, 1);
        white-space: nowrap;
        overflow: hidden;transform: translateY(-50%);
        font-size: 28px;
        text-align: center;
        color: $white;
        font-family: 'Special Elite';
        font-weight: 600;

      }

      .homepage__text__2 {
        position: relative;
        top: 51%;
        margin: 0 auto;
        border-right: 2px solid transparent;
        font-size: 100%;
        white-space: nowrap;
        overflow: hidden;transform: translateY(-50%);
        font-size: 28px;
        text-align: center;
        color: $white;
        font-family: 'Special Elite';
        font-weight: 600;

      }

      .typewriter-animation {
        animation: typewriter 4s steps(40) 1s 1 normal both,
        blinkTextCursor 500ms steps(40) infinite normal,
        blinkTextCursorEnd 500ms steps(40) 5s infinite normal;
      }

      .typewriter-animation__2 {
        animation: typewriter2 4s steps(40) 5s 1 normal both,
        blinkTextCursorStart 500ms steps(40) 5s normal,
        blinkTextCursor 500ms steps(40) 5s infinite normal;
      }

      @keyframes typewriter {
        from {
          width: 0;
        }
        to {
          width: 16em;
        }
      }

      @keyframes typewriter2 {
        from {
          width: 0;
        }
        to {
          width: 18.5em;
        }
      }

      @keyframes blinkTextCursor {
        from {
          border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
          border-right-color: transparent;
        }
      }

      @keyframes blinkTextCursorEnd {
        from {
          border-right-color: transparent;
        }
        to {
          border-right-color: transparent;
        }
      }

      @keyframes blinkTextCursorStart {
        from {
          border-right-color: transparent;
        }
        to {
          border-right-color: rgba(255, 255, 255, 0.75);
        }
      }
    }
  }

  &__heading {
    display: grid;
    grid-template-columns: 100px [s] 1fr [e] 100px;
    justify-items: center;
    align-items: center;

    div {
      padding: 2rem 0px;
      font-size: 18px;
      font-weight: 600;
      grid-column: s/e;
    }

    .line {
      width: 100%;
      border-top: 1px solid $lightGrey;
    }
  }

  &__project-filter {
    height: 30px;
    background-color: $lightBlue;
    color: $white;
    font-weight: 550;
    font-family: 'Encode Sans Condensed Web';
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $darkBlue;
      }
    }

    .active_filter {
      background-color: $darkBlue;
    }
  }

  &__text {
    z-index: 4;
    position: relative;
    top: 20%;
  }
}

.dark-homepage {
  background-color: $lightBlack;

  &__heading {
    color: $lightGrey;
  }

  &__text {
    color: $lightGrey !important;
  }
    
  &__text__2 {
    color: $lightGrey !important;
  }

  &__project-filter {
    color: $darkGrey;
    background-color: $darkmodeBlue;
  }

  .dark-active_filter {
    background-color: $darkBlue;
  }
}
