.navbar-container {
  height: 100vh;
  background-color: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  &__image {
    padding: 0px 0px 4rem 0px;

    display: flex;
    height: 220px;
    width: 335px;
    justify-content: center;

    img {
      border-radius: 25px;
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
    }
  }

  &__description {
    padding: 0 32px;
    width: 414.75px;

    text-align: center;

    text {
      padding: 0 16px 0 16px;
    }
  }

  &__links {
    .signed-out-links {
      padding: 2rem 0px 1rem 0px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__link {
        padding-bottom: 1rem;
      }
    }

    .signed-in-links, .signed-out-links {
      padding: 1.5rem 0px 1rem 0px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__link {
        padding-top: .5rem;
        padding-bottom: 1.5rem;
        
        transition: 0.3s ease-in-out;
        text-align: center;
        font-size: 18px;
      }

      a {
        width: 111.78px !important;
        text-decoration: none;
        color: $darkBlack;
        font-weight: 600;
        border-bottom: 1px solid transparent;
        padding-top: 0.5rem;

        &:hover {
          padding-bottom: 0.5rem;
          border-bottom: 1px solid $darkBlack;
        }
      }

      .active {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $darkBlack;
      }
    }
  }
}

.fa-github {
  font-size: 62px;
}

.fa-linkedin-in {
  font-size: 37px;
}

.dark-mode-toggle {
  width: 60px;
  height: 80px;
  transition: 0.9ms;
  cursor: pointer;
  text-align: center;
}

.dark-mode-title {
  font-size: 14px;
  text-align: center;
}

.dark-dark-mode-title {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.fa-toggle-off {
  width: 80%;
  height: initial;

}

.svg-inline--fa.fa-w-18 {
  width: 45px;
}

.dark-navbar-container {
  background-color: $darkGrey;

  .dark-signed-in-links, .dark-signed-out-links {

    a {
      color: $lightGrey !important;

      &:hover {
        border-bottom: 1px solid $lightGrey;
      }
    }

    .active {
      border-bottom: 1px solid $lightGrey;
    }
  }

  &__description {
    color: $darkOrange;
    font-weight: 600;
  }

  &__link {
    border: 1px solid $lightGrey;
    background-color: $lightGrey;
    color: $lightBlack;

    &:hover {
      background-color: $lightBlack;
      color: $lightGrey;
    }
  }
}

.dark-dark-mode-toggle {
  color: $lightGrey;
}


.dark-dark-mode-toggle-toggle {
  transform: rotate(180deg);
}

ul {
  height: 80px;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 50%;
  color: #e2e2e2;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

ul li .dark-mode-btn {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 50%;
  color: #e2e2e2;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

ul li a:hover {
  color: #999;
  transform: translateY(-20px);
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.2);
}

ul li .dark-mode-btn:hover {
  color: #999;
  transform: translateY(-20px);
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.2);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

ul li .dark-mode-btn:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

ul li:nth-child(1) a:before {
  background: #fff;
}
ul li:nth-child(2) a:before {
  background: #1877f2;
}
ul li:nth-child(3) a:before {
  background: #25d366;
}

ul li:nth-child(4) .dark-mode-btn:before {
  background: #c32aa3;
}

ul li a .resume {
  position: relative;
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  z-index: 1;
}

ul li a .github {
  position: relative;
  color: #1d2125;
  z-index: 1;
}

ul li a .linked-in {
  position: relative;
  color: #fff;
  z-index: 1;
}

ul li .dark-mode-btn .dark-mode {
  position: relative;
  color: #fff;
  z-index: 1;
}

.dark-mode-text {
  color: #1d2125;
    position: absolute;
    bottom: 59px;
    right: -27px;
}

.dark-text {
  color: #CCC;
  font-weight: 700;
}

.dark-button {
  background: #424242 !important;
  color: #1d2125;
}

ul li .dark-button:hover {
  box-shadow: inset -1px -1px 2px rgba(71, 70, 71, 0.4), 2px 24px 10px rgba(71, 70, 71, 0.4);
}

ul li .dark-button:before {
  border: 2px solid rgba(0, 0, 0, 0.5);
}