.sign-in {
  &__container {
    margin-left: 478.75px;
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
    form {
      width: 100%;
      height: 50%;
      
      display: flex;
      justify-content: center;
      align-items: center;
    
      input {
        font-size: 25px;
        width: 25em;
        border: 1px solid transparent;
        border-bottom: 1px solid $lightGrey;
        color: $lightBlack;
        background-color: $white;
    
        &::placeholder {
          color: $lightBlack;
        }
    
        &:focus {
          outline: none;
        }
      }
    }
  }

  &__image {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  }

  &__input {
    padding-bottom: 2rem;
  }

  &__button {
    margin-left: 3rem;

    button {
      width: 80px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid $darkBlack;
      font-weight: 600;
      font-size: 14px;
    }
  }
}