@media (max-width: 1024px) {
  .feedback-container {
    margin: 0px;
  }

  .feedback-container__inputs {
    width: 30em !important;
  }

  input {
    width: 100% !important;
  }
}

@media (max-width: 414px) {
  form {
    flex-direction: column;
  }

  .feedback-container__inputs {
    width: 20em !important;
  }
}

@media (max-width: 375px) {
  form {
    flex-direction: column;
  }

  .feedback-container__inputs {
    width: 20em !important;
  }
}

@media (max-width: 320px) {
  .feedback-container {
    &__header {
      grid-template-columns: 50px [s] 1fr [e] 50px;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 80% !important;
    }
  }
}