@media (max-width: 1024px) {
  .hamburger-container {
    visibility: visible;
  }
}

@media (max-width: 414px) {
  .hamburger-container {
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 105px;
    right: 27px;
  }
}

@media (max-width: 375px) {
  .hamburger-container {
    width: 25px;
    height: 25px;
    font-size: 15px;
    top: 105px;
    right: 27px;
  }
}