@media (max-width: 1024px) {
  .homepage {
    margin: 0px;

    &__heading {
      text-align: center;
    }

    &__image {
      .image {
        background-attachment: initial;
        z-index: -10
      }

      @keyframes typewriter {
        from {
          width: 0;
        }
        to {
          width: 80%;
        }
      }

      @keyframes typewriter2 {
        from {
          width: 0;
        }
        to {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .dark-homepage {
    &__heading {
      background-color: $lightBlack;
    }
  }
}

@media (max-width: 414px) {
  .homepage__text, .homepage__text__2 {
    font-size: 14px !important;
  }

  .homepage__heading {
    div {
      font-size: 16px !important;
    }
  }
}

@media (max-width: 375px) {
  .homepage__text, .homepage__text__2 {
    font-size: 16px !important;
  }
  
  .homepage__heading {
    div {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 320px) {
  .homepage__text, .homepage__text__2 {
    font-size: 14px !important;
  }

  .homepage__heading {
    grid-template-columns: 50px [s] 1fr [e] 50px;
  }
}