@media (max-width: 1024px) {
  .navbar-container {
    margin-top: 10vh;
    height: 80vh;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $lightBlack;
    border-right: 1px solid $lightBlack;
    border-bottom: 1px solid $lightBlack;
    display: none;
  }

  .show-nav {
    display: flex;
  }
}