@media (max-width: 1024px) {
  .homepage__projects {
    .project-list__container {
      a {
        height: 25vh;
      }
    }
  }
  
  .project-details__container {
    margin-left: 0px;
  }
}

@media (max-width: 414px) {
  .project-list__container {
    grid-template-columns: 1fr;

    a {
      height: 45vh !important;
    }
  }

  .project-details__logo {
    img {
      width: 45%;
    }
  }
}

@media (max-width: 375px) {
  .project-list__container {
    grid-template-columns: 1fr;

    a {
      height: 40vh !important;
    }
  }

  .project-details {
    &__logo {
      img {
        width: 45%;
      }
    }
  }
}

@media (max-width: 320px) {
  .project-list__container {
    a {
      height: 44vh !important;
    }
  }
}

@media (max-height: 667px) {
.project-list__container {
    a {
      height: 44vh !important;
    }
  }
}

@media (min-width: 200px) {
  @media (max-width: 900px) {
    .project-details__container {
      .links {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        a {
          width: 60%;
          text-align: center;
          margin-bottom: 40px;
        }
      }

      .grid {
        grid-template-columns: 10% [s] 1fr [e] 10%;
      }
      
      .react-native-links {
        width: initial;
        padding-left: 10%;
        padding-right: 10%;
      }

      .react-native-link {
        width: initial !important;
      }
    }

    .project-details__content {
      padding: 20% 0;
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 700px) {
  .project-details__container {
    .react-native-links {
      width: 80%;
      grid-template-columns: 1fr !important;

      .react-native-link {
        width: auto;
        grid-template-columns: 1fr !important;
      }
    }
  }
}

@media (min-width: 720px) {
  @media (max-width: 1000px) {
    .project-details__container {
      .react-native-links {
        column-gap: 0px;
      }
    }
  }
}