body {
  margin: 0px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.App {
  display: flex;
  grid-template-columns: 382.19px  1fr
}

@import './Styles/variables.scss';
@import './Styles/navbar.scss';
@import './Styles/homepage.scss';
@import './Styles/projectDashboard.scss';
@import './Styles/projectSummary.scss';
@import './Styles//createProject.scss';
@import './Styles/projectDetails.scss';
@import './Styles/signIn.scss';
@import './Styles/about.scss';
@import './Styles/contact.scss';
@import './Styles/feedback.scss';
@import './Styles/recievedFeedback.scss';
@import './Styles/hamburger.scss';
@import './Styles/media-queries/homepage.scss';
@import './Styles/media-queries/navbar.scss';
@import './Styles/media-queries/hamburger.scss';