body {
  margin: 0px;
}

.App {
  display: flex;
  grid-template-columns: 382.19px  1fr
}

@import './Styles/navbar.scss';
@import './Styles/homepage.scss';
@import './Styles/projectDashboard.scss';
@import './Styles/projectSummary.scss';